xsd/plato/GetAllProjects.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="project.xsd"/>
  <xs:element name="projectforms">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="projectform" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="network"/>
              <xs:element type="xs:string" name="application"/>
              <xs:element type="xs:date" name="date_filed"/>
              <xs:element type="xs:float" name="version"/>
              <xs:element type="xs:string" name="organization"/>
              <xs:element type="xs:string" name="organization_code"/>
              <xs:element name="projects">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="project" maxOccurs="unbounded" minOccurs="0" type="project"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
