xsd/plato/project.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="project">
    <xs:sequence>
      <xs:element type="xs:string" name="project_id"/>
      <xs:element type="xs:string" name="code"/>
      <xs:element type="xs:string" name="project_type"/>
      <xs:element type="xs:string" name="work"/>
      <xs:element type="xs:date" name="start_date"/>
      <xs:element type="xs:date" name="end_date"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="location" minOccurs="0"/>
      <xs:element type="xs:string" name="country"/>
      <xs:element type="xs:string" name="region" minOccurs="0"/>
      <xs:element type="xs:string" name="languages"/>
      <xs:element type="xs:integer" name="participation_fee"/>
      <xs:element type="xs:string" name="participation_fee_currency" minOccurs="0"/>
      <xs:element type="xs:integer" name="min_age"/>
      <xs:element type="xs:integer" name="max_age"/>
      <xs:element type="xs:boolean" name="disabled_vols"/>
      <xs:element type="xs:integer" name="numvol"/>
      <xs:element type="xs:boolean" name="vegetarian"/>
      <xs:element type="xs:boolean" name="family"/>
      <xs:element type="xs:string" name="description" minOccurs ="0"/>
      <xs:element type="xs:string" name="descr_partner" minOccurs ="0"/>
      <xs:element type="xs:string" name="descr_work" minOccurs ="0"/>
      <xs:element type="xs:string" name="descr_accomodation_and_food" minOccurs ="0"/>
      <xs:element type="xs:string" name="descr_location_and_leisure" minOccurs ="0"/>
      <xs:element type="xs:string" name="descr_requirements" minOccurs ="0"/>
      <xs:element type="xs:string" name="descr_appointement" minOccurs ="0"/>
      <xs:element type="xs:string" name="airport" minOccurs ="0"/>
      <xs:element type="xs:string" name="train_bus_station" minOccurs="0"/>
      <xs:element type="xs:integer" name="numvol_m"/>
      <xs:element type="xs:integer" name="numvol_f"/>
      <xs:element type="xs:integer" name="max_vols_per_country"/>
      <xs:element type="xs:integer" name="max_teenagers"/>
      <xs:element type="xs:integer" name="max_national_vols"/>
      <xs:element type="xs:float" name="lat_project"/>
      <xs:element type="xs:float" name="lng_project"/>
      <xs:element type="xs:string" name="notes" minOccurs="0"/>
      <xs:element type="xs:float" name="lat_station"/>
      <xs:element type="xs:float" name="lng_station"/>
      <xs:element type="xs:boolean" name="bi_tri_multi"/>
      <xs:element type="xs:string" name="ho_description" minOccurs="0"/>
      <xs:element type="xs:string" name="project_summary" minOccurs="0"/>
      <xs:element type="xs:boolean" name="accessibility"/>
      <xs:element type="xs:date" name="last_update"/>
      <xs:element type="xs:date" name="hide_prj_date"/>
      <xs:element type="xs:string" name="sdg_prj"/>
      <xs:element type="xs:string" name="url_prj_photo1" minOccurs="0"/>
      <xs:element type="xs:string" name="url_prj_photo2" minOccurs="0"/>
      <xs:element type="xs:string" name="url_prj_photo3" minOccurs="0"/>
      <xs:element type="xs:string" name="url_prj_photo4" minOccurs="0"/>
      <xs:element type="xs:string" name="url_prj_photo5" minOccurs="0"/>
      <xs:element type="xs:string" name="url_prj_photo6" minOccurs="0"/>
      <xs:element type="xs:string" name="url_prj_photo7" minOccurs="0"/>
      <xs:element type="xs:string" name="url_prj_photo8" minOccurs="0"/>
      <xs:element type="xs:string" name="url_prj_photo9" minOccurs="0"/>
      <xs:element type="xs:boolean" name="cancelled"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
